{% extends "layout/base.html" %}

{% block content %}
    <div class="flex flex-col items-center pt-4">
        <h2>Top Level Boxes</h2>
        <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 pt-10 px-10">
            {% for x in parents %}
                <div class="card card-compact bg-base-200 shadow-xl w-full max-w-xs mx-auto">
                    <div class="card-body p-4">
                        <h2 class="card-title text-base">
                            <a href="{% url "box_detail" x.slug %}" class="link link-primary">{{ x.name }}</a>
                        </h2>
                        <a class="btn"
                           href="{% url "box_list" %}{% querystring parent=x.slug %}">
                            Boxes
                            <div class="badge badge-sm badge-secondary">{{ x.children.all|length }}</div>
                        </a>
                        <a class="btn" href="{% url "item_list" %}{% querystring box=x.slug %}">
                            Items
                            <div class="badge badge-sm badge-secondary">{{ x.item_count }}</div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
