{% extends "components/base.html" %}

{% block content %}
    <div class="container px-5 py-5">
        <div class="card bg-base-300 w-96 rounded-xl rounded-box shadow-xl"
             id="box-detail-card">
            <div class="card-body items-center text-center">
                <h2 class="card-title">{{ box.name }}</h2>
                <p>
                    <strong>Description:</strong> {{ box.description }}
                </p>
                {% if box.parent %}
                    <p>
                        <strong>Parent Box:</strong> <a href="{% url 'box_detail' box.parent.slug %}">{{ box.parent.name }}</a>
                    </p>
                {% else %}
                    <p>
                        <strong>Parent Box:</strong> None
                    </p>
                {% endif %}
            </div>
            <div class="card-actions items-center justify-between px-4">
                <a href="{% url 'box_edit' box.slug %}" class="btn btn-info">
                    <i class="fa fa-pen-to-square"></i>
                    <span class="ml-2">Edit</span></a>
                <!-- Trigger for modal -->
                <button class="btn btn-error" id="show-delete-modal">
                    <i class="fa fa-trash"></i>
                    <span class="ml-2">Delete</span>
                </button>
                <a href="{% url 'box_list' %}" class="btn btn-info">
                    <i class="fa fa-backward-step"></i>
                    <span class="ml-2">Back</span>
                </a>
            </div>
            <div class="card-footer flex flex-col gap-2 items-start px-6 py-4 rounded-b-box">
                <div class="flex items-center gap-2 text-xs text-base-content/60">
                    <i class="fa fa-square-plus"></i>
                    <span>
                        Created: {{ box.created_at|date:'F j, Y, g:i a' }}
                        by {{ box.created_by.first_name }} {{ box.created_by.last_name }}
                    </span>
                </div>
                <div class="flex items-center gap-2 text-xs text-base-content/60">
                    <i class="fa fa-pen-to-square"></i>
                    <span>
                        Updated: {{ box.updated_at|date:'F j, Y, g:i a' }}
                        by {{ box.updated_by }}
                    </span>
                </div>
            </div>
        </div>
        <!-- Delete Confirmation Modal -->
        {% if items %}
            <div class="mt-5">
                <h2 class="text-2xl font-bold mb-4">Items in this Box</h2>
                <ul class="list-disc pl-5">
                    {% for item in items %}
                        <li>
                            <a href="{% url 'item_detail' item.slug %}" class="link link-primary">{{ item.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="mt-5">
                <p>No items found in this box.</p>
            </div>
        {% endif %}
        {% url 'box_delete' box.slug as action %}

        {% include "components/modal_delete.html" with title="Delete Box" action=action name=box.name type="box" %}

    </div>
{% endblock content %}
