{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <meta name="description" content="Home storage management" />
    <meta name="author" content="Ian Day" />
    <link rel="icon" href="{% static 'images/favicon.png' %}" />
    {% block css %}
      <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.13/dist/full.min.css"
            rel="stylesheet"
            type="text/css"
            crossorigin="anonymous"
            integrity="sha384-u739pOGCHA3ms6R9mJ2kFDbim1P2AVn0wU9wXWSrG/b0wcJVkFL7i35wKENsvPGN" />
      <link href="{% static 'css/output.css' %}" rel="stylesheet" type="text/css" />
      <link rel="stylesheet"
            href="{% static 'fonts/fontawesome-free-6.6.0-web/css/all.min.css' %}" />
    {% endblock css %}
    {% block javascript %}
      <script src="https://code.jquery.com/jquery-3.7.1.min.js"
              integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
              crossorigin="anonymous"></script>
      <script nonce="{{ request.csp_nonce }}" src="{% static 'js/sidebar.js' %}"></script>
      <script nonce="{{request.csp_nonce}}" src="{% static 'js/load_theme.js' %}"></script>
      <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"
              integrity="sha384-9l0HtvnB08o05/gpJ0/s/MH6b4qnQsdwaxyvtOJY/j8yiQWS1kAmsRQVMgKxcREb"
              crossorigin="anonymous"></script>
    {% endblock javascript %}
  </head>
  <body class="bg-base-200">
    <div class="flex">
      {% if not is_popup %}
        {% block nav-sidebar %}
          {% include "sidebar.html" %}
        {% endblock nav-sidebar %}
      {% endif %}
      <div id="content"
           class="content-wrapper w-full flex flex-col min-h-screen  main-wrapper transition-all duration-200 ease-in-out">
        {% block top-navbar %}
          {% if not is_popup %}
            {% include 'navbar.html' %}
          {% endif %}
        {% endblock top-navbar %}
        <div class="flex items-center max-md:p-3 p-5 pb-0 flex-wrap justify-between">
          {% block breadcrumbs %}
          {% endblock breadcrumbs %}
        </div>
        <div class="main-content h-full max-md:p-3 p-5 pt-2 pb-0">
          {% block messages %}
            {% if messages %}
              <div class="toast z-20 whitespace-normal toast-top toast-end">
                {% for message in messages %}
                  <div class="alert alert-info info-content {% if message.tags %}alert-{{ message.tags }} {{ message.tags }}-content{% endif %} shadow-lg mb-2 relative">
                    <div class="p-1 pe-2">
                      <span>{{ message|capfirst }}</span>
                    </div>
                    <button class="btn btn-xs btn-circle absolute top-2 ltr:right-2 rtl:left-2"
                            onclick="this.parentElement.remove();">
                      <i class="fa fa-times"></i>
                    </button>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endblock messages %}
          {% block content %}
          {% endblock content %}
          {% block inline_javascript %}
          {% endblock inline_javascript %}
        </div>
      </div>
    </div>
  </body>
</html>
