{% load i18n %}

<div class="drawer-side">
    <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
    <div class="flex flex-col justify-between w-64   bg-base-300">
        <div class="flex flex-col flex-1" id="sidebar-content">
            <div class="flex items-center justify-center py-6" id="sidebar-header">
                <a href="{% url 'home' %}" class="flex items-center gap-2">
                    <i class="fa fa-house-chimney text-base-content"></i><span class="font-bold text-lg">{{ site_title }}</span>
                </a>
            </div>
            <div class="flex flex-col" id="sidebar-links">
                <div class="divider text-base-content/40 menu-title divider-start">Data</div>
                <ul class="menu menu-sm bg-base-300 rounded-box z-1 w-full p-2 shadow">
                    {% for entry in sidebar_data_links %}
                        <li>
                            {% url entry.view_name as url %}
                            <a class="{% if url in request.path|urlencode %} active {% endif %}"
                               href="{{ url }}">
                                <i class="fa {{ entry.icon }}"></i>{{ entry.text }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="divider text-base-content/40 menu-title divider-start">App</div>
                <ul class="menu menu-sm bg-base-300 rounded-box z-1 w-full p-2 shadow">
                    {% for entry in sidebar_app_links %}
                        <li>
                            {% url entry.view_name as url %}
                            <a class="{% if url in request.path|urlencode %} active {% endif %}"
                               href="{{ url }}">
                                <i class="fa {{ entry.icon }}"></i>{{ entry.text }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="flex py-10" id="sidebar-footer">
            <div class="flex-1 text-center text-xs text-base-content/40">
                <span class="text-xs">Powered by</span>
            </div>
        </div>
    </div>
</div>
